.nav {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  align-items: center;
  padding: 20px;
  color: white;
  height: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  color: white;
  background-color: rgb(23, 162, 184);
  padding: 5px;
  font-weight: bold;
}

* {
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
}
